#account {
  .container {
    .account {
      padding: 200px 0;
      display: flex;
      align-items: start;
      justify-content: space-between;
      flex-wrap: wrap;

      &--block {
        display: flex;
        flex-direction: column;
        background: rgba(255, 255, 255, 0.2);
        border: 1px solid #FFFFFF;
        backdrop-filter: blur(7px);
        border-radius: 1px;

        span:hover {
          background: rgba(255, 255, 255, 0.4);
          backdrop-filter: blur(8px);

          hr {
            display: block;
          }
        }

        span {
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          cursor: pointer;
          background: rgba(255, 255, 255, 0.2);
          backdrop-filter: blur(7px);
          border: 1px solid #FFFFFF;
          font-style: normal;
          font-weight: 600;
          font-size: 25px;
          line-height: 29px;
          color: #FFFFFF;
          padding: 19px 40px;

          hr {
            display: none;
            border-radius: 0 20px 20px 0;
            position: absolute;
            left: 0;
            width: 5px;
            height: 100%;
            background: white;
          }

          p {
            padding-left: 5px;
          }
        }
      }
    }
  }
}

@media (max-width: 1140px) {
  #account {
    .container {
      .account {
        padding: 150px 0;
        justify-content: center;
        flex-direction: column;
      }
    }
  }
  #account .container .account--block {
    margin: 10px 0;
  }
}
@media (max-width: 451px) {
  #account .container .account {
    align-items: center;
    padding: 100px 0;
  }
  #account .container .account--block span {
    padding: 19px 25px;
  }
}