.story {
  width: 967px;
  padding: 50px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #FFFFFF;
  backdrop-filter: blur(7px);
  border-radius: 1px;

  &--texts {
    width: 60%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 30px 0;
  }

  h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
  }

  p {
    padding: 10px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
  }
}

@media (max-width: 1024px) {
  .story {
    width: 160%;
  }
}

@media (max-width: 992px) {
  .story {
    width: 146%;
  }
  .story--texts {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .story {
    width: 130%;
  }
}

@media (max-width: 576px) {
  .story {
    width: 100%;
  }
  .story--texts {
    flex-direction: row-reverse;
  }
  .story--texts {
    width: 79%;
  }
}
@media (max-width: 451px) {
  .story h1 {
    font-size: 30px;
  }
}
@media (max-width: 320px) {
  .story p {
    font-size: 10px;
  }
}