.certificates {

  width: 967px;
  padding: 50px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #FFFFFF;
  backdrop-filter: blur(7px);
  border-radius: 1px;
  details{
    display: none;
    tr{
      display: flex;
      align-items: center;
      justify-content: space-between;
      p{
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 20px;
        color: #FFFFFF;
      }
    }
    summary{
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #FFFFFF;
    }
  }
  p {
    padding: 15px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
  }

  table {
    padding: 50px 0;
    display: flex;
    align-items: start;
    justify-content: space-between;

    tf {
      display: flex;
    }

    img {
      padding: 12px;
      cursor: pointer;
    }

    th {
      padding-bottom: 10px;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #FFFFFF;
    }
  }

  &--login {
    h1 {
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 44px;
      color: #FFFFFF;
    }
  }
}

.cong {
  padding: 70px 100px;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid #FFFFFF;
  backdrop-filter: blur(7px);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;

  h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 39.264px;
    line-height: 48px;
    color: #FFFFFF;
  }

  h1 {
    padding: 30px 0;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    color: #FFFFFF;
  }

  p {
    padding: 10px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #FFFFFF;
  }

  span {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
  }
}

@media (max-width: 1024px) {
  .certificates {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .certificates table {
    display: none;
  }
  .certificates details{
    display: block;
  }
  .certificates {
    width: 715px;
  }
}

@media (max-width: 576px) {
  .certificates {
    width: 500px;
  }
}

@media (max-width: 451px) {
  .certificates {
    width: 100%;
  }
  .certificates--login h1 {
    font-size: 30px;
  }
}
@media (max-width: 320px) {
  .certificates--login h1 {
    font-size: 27px;
  }
  .certificates p {
    font-size: 13px;
  }
}