.bag {
  width: 967px;
  height: 483px;
  padding: 50px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #FFFFFF;
  backdrop-filter: blur(7px);
  border-radius: 1px;
  details{
    display: none;
    tr{
      display: flex;
      align-items: center;
      justify-content: space-between;
      p{
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 20px;
        color: #FFFFFF;
      }
    }
    summary{
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #FFFFFF;
    }
  }
  table {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      padding: 15px 0;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #FFFFFF;
    }

    tr {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 30%;
    }
  }

  table:hover {
    cursor: pointer;
    border-bottom: 2px solid white;
  }

  &--logo {
    h1 {
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 44px;
      color: #FFFFFF;
    }

    p {
      padding-top: 15px;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #FFFFFF;
    }
  }
}

@media (max-width: 1140px) {

}
@media (max-width: 1024px) {
  .bag {
    width: 100%;
  }
}

@media (max-width: 451px) {
  .bag--logo h1 {
    font-size: 30px;
  }
}


@media (max-width: 380px) {
  .bag table {
    display: none;
  }
  .bag details{
    display: block;
    margin: 26px 0;
  }
}