#header {
  background: rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid #ffffff;
  backdrop-filter: blur(5px);
  position: fixed;
  width: 100%;
  z-index: 999;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

    &--logo {
      display: flex;
      flex-direction: column;
      align-items: center;

      span {
        font-weight: 500;
        font-size: 14.8993px;
        line-height: 18px;
        color: #FFFFFF;
      }
    }

    &--navbar {
      width: 20%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;

        &:hover {
          border-bottom: 2px solid #FFFFFF;
        }
      }

      .active {
        border-bottom: 2px solid #FFFFFF;
      }
    }

    &--details {
      width: 7%;
      details {
        position: absolute;
        top: 30px;
        border-radius: 0 10px 10px 10px;
        background: #FFFFFF;
        padding: 8px 15px;
        cursor: pointer;
        text-align: center;

        summary {
          display: flex;
          align-items: center;
        }

        h1 {
          padding: 5px 0;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #595FEB;
        }
      }
    }

    &--nav {
      display: none;
      details {
        border-radius: 0 10px 10px 10px;
        background: #FFFFFF;
        padding: 5px 10px;
        margin-bottom: 10px;
        cursor: pointer;
        text-align: center;

        summary {
          display: flex;
          align-items: center;
        }

        h1 {
          padding: 5px 0;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #595FEB;
        }
      }

    }

    &--menu {
      display: none;
    }
  }
}


@media (max-width: 1440px) {
  .container {
    width: 90%;
  }
}
@media (max-width: 1024px) {
  #header {
    .header {
      &--navbar {
        width: 32%;
      }
    }
  }
}
@media (max-width: 768px) {
  #header {
    .header {
      padding: 10px 0;
      &--nav {
        display: flex;
        flex-direction: column;
        align-items: center;

        a {
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          color: #FFFFFF;
          transition: .4s;
          margin-bottom: 20px;

          &:hover {
            border-bottom: 2px solid #FFFFFF;
          }
        }
      }

      &--logo {
        flex-direction: column;
        align-items: start;

        span {
          display: none;
        }
      }

      &--navbar {
        display: none;
      }

      details {
        display: none;
      }

      &--login {
        display: none;
      }

      &--menu {
        display: block;

        &__parentMenu {
          display: flex;
          flex-direction: column;
          align-items: end;
          justify-content: center;

          div {
            width: 40px;
            height: 3px;
            background: #FFFFFF;
            border-radius: 10px;
            margin: 4px 0;
          }

          &--one {
            transform: rotate(45deg);
            margin: -2px 0 !important;
          }

          &--tow {
            display: none;
          }

          &--three {
            transform: rotate(-45deg);
            margin: -2px 0 !important;
          }
        }
      }
    }
  }
}
@media (max-width: 375px) {
  #header {
    .header {
      &--logo {
        img {
          width: 60px !important;
        }

        span {
          font-size: 12px;
        }
      }

      &--menu {
        &__parentMenu {
          div {
            width: 36px;
            height: 2.5px;
          }
        }
      }
    }
  }
}