.common {
  width: 967px;
  height: 100%;
  padding: 50px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #FFFFFF;
  backdrop-filter: blur(7px);
  border-radius: 1px;

  &--btn {
    button {
      transition: 0.5s all;
      margin-right: 20px;
      padding: 10px 20px;
      background: rgba(255, 255, 255, 0.1);
      border: 1px solid #FFFFFF;
      border-radius: 1px;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #FFFFFF;
    }

    button:focus {
      background: #FFFFFF;
      color: #595FEB;
    }
  }

  &--contacts {
    padding: 50px 0;

    &__input {
      display: flex;
      flex-direction: column;

      &--wrap {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
      }

      p {
        padding: 10px 0;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
      }

      input {
        width: 403px;
        outline: none;
        color: white;
        padding: 8px;
        background: transparent;
        border: 1px solid #FFFFFF;
        border-radius: 1px;
      }

      &--name {
        display: flex;
        align-items: center;
        justify-content: space-between;

      }
    }

    h1 {
      padding: 20px 0;
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 44px;
      color: #FFFFFF;
    }
  }

  &--logos {
    h1 {
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 44px;
      color: #FFFFFF;
    }

    p {
      padding-top: 15px;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #FFFFFF;
    }
  }
}

@media (max-width: 1140px) {
  .common {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .common--contacts__input input {
    margin: 0 5px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .common {
    &--btn {
      button {
        width: 280px;
        margin: 0 5px;
      }
    }

    &--contacts {
      &__input {
        &--name {
          flex-direction: column;
          align-items: baseline;
        }
      }
    }
  }
}

@media (max-width: 451px) {
  .common--contacts h1 {
    font-size: 32px;
  }
  .common--logos h1 {
    font-size: 30px;
  }
}


@media (max-width: 380px) {
  .common {
    width: 100%;
    padding: 40px;
  }
  .common--contacts__input input {
    width: 242px;
  }
  .common--btn button {
    width: 214px;
    font-size: 14px;
    margin: 5px 5px;
  }
  .common--contacts h1 {
    font-size: 29px;
  }
}

@media (max-width: 320px) {
  .common--contacts__input input {
    width: 186px;
  }
  .common--btn button {
    width: 190px;
    font-size: 12px;
  }
  .common--contacts h1 {
    font-size: 22px;
  }
}

